html,
body {
  height: 100%;
  font-family: 'Luckiest Guy', cursive;
  font-family: 'Raleway', sans-serif;
  font-family: 'Russo One', sans-serif;
}

#map {
  height: 100%;
}

.icons_main {
  margin-top: -35px;
  float: right;
  margin-right: 20px;
  color: #fff;
}

.icons_main2 {
  margin-top: -35px;
  float: right;
  margin-right: 7vh;
  color: #fff;
}

.logo {
  position: relative;
  z-index: 2;
  color: #fff;
}

.simpleUsage {
  color: white; 
  font-size: x-large; 
  margin-top: 4vh; 
  text-align: center;
}

p {
  color: #fff;
  font-size: large;
}

hr {
  color:#fff;
}

.row {
  text-align: center; 
  padding-top: 3vh; 
  color: white; 
  font-size: x-large;
}